name: Linting

on:
  pull_request: {}
  push:
    branches:
        - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write # for comments

jobs:
  compatibility:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout tree
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Set-up OCaml
      uses: ocaml/setup-ocaml@v2
      with:
        ocaml-compiler: 5.1
        opam-pin: false
        opam-depext: false
        dune-cache: true

    - name: install atddiff
      run: opam install atd

    - name: atddiff all supported tags
      id: diff
      shell: bash
      run: |
        eval $(opam env)
        echo -ne 'Backwards compatability summary:\n\n```' > summary-00-header.txt
        echo '```' >> summary-20-footer.txt
        ./scripts/check-backwards-compatability.sh | tee summary-10-body.txt

    - uses: marocchino/sticky-pull-request-comment@v2
      if: ${{ !cancelled() }}
      with:
        header: diff-summary
        path: summary-*.txt

  mypy:
    runs-on: ubuntu-latest
    steps:
    - name: Run mypy on semgrep_output_v1.py
      run: |
        pip install mypy
        rm __init__.py # because dir has a - in it
        mypy semgrep_output_v1.py