name: Linting

on:
  pull_request: {}
  push:
    branches:
        - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write # for comments

jobs:
  compatibility:
    runs-on: ubuntu-latest
    container: returntocorp/ocaml:alpine
    steps:
    - name: Checkout tree
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: atddiff all supported tags
      id: diff
      shell: bash
      run: |
        env
        pwd
        eval $(opam env)
        apk add jq
        echo -ne 'Backwards compatability summary:\n\n```' > summary-00-header.txt
        echo '```' >> summary-20-footer.txt
        ./scripts/check-backwards-compatability.sh | tee summary-10-body.txt

    - uses: marocchino/sticky-pull-request-comment@v2
      if: ${{ !cancelled() }}
      with:
        header: diff-summary
        path: summary-*.txt
